body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    gap: 30px;
}
.start-button {
    padding: 15px 40px;
    font-size: 24px;
    background-color: #f08000;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    animation: button 2s infinite;
}
.start-button:hover {
    background-color: #ff9900;
}
@keyframes button {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}